<h1>Bitcoin Price Index Visualization</h1>
<div id="canvas-div">
    From: <input id="from-date" type="date">
    To: <input id="to-date" type="date">
    <label for="currencies">Currency: </label>
    <select name="currencies" id="currencies">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
        <option value="CHF">CHF</option>
        <option value="MXN">MXN</option>
        <option value="SAR">SAR</option>
        <option value="ARS">ARS</option>
    </select>
    <canvas id="myChart" width="600" height="400"></canvas>
</div>




