body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvas-div {
  width: 70%;
}

#filters-values-div {
  display: flex;
  justify-content: space-between;
}

#min-max-values {
  text-align: right;
}


